
/* Header  */
.Course_Details_Header{
    height: 300px;
    background: #1C1D1F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /* height: auto; */
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
}
.Course_Details_Header > *{
    margin-left: 60px;
}
.course-header,.course-headline{
    color: white;
    max-width: 500px;
}
.course-details-span{
    display: flex;
    align-items: flex-end;

}
.students{
    color: white;
}
.reviews{
    color: blueviolet;
    text-decoration: underline;
}

/* what_you will_learn */

.objective{
    padding: 3px;
    font-size: 13px;
    justify-content: start;
}

/* Course Content  */
.card.drop-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 1rem;
    width: 500px;
    cursor: pointer;
}
.drop-down-element{
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;

}
.drop-down-count{
    margin: 10px;
    justify-content: flex-end;
}
.course-details{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}
.course-details-body{
    margin-left: 60px;
    display: flex;
    position:relative;
}
.course-details-body{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}
.card{
    border-radius: 0px;
}
.drop-down-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.course-content h3{
    font-size: 2.2rem;
    font-weight: 700;
}
.what_youll_learn{
    max-width: 70rem;
    margin-top: 2rem;
}
.what_youll_learn h3 {
    margin: 10px;
}
.objectives-list{
    padding: 10px;
}
.icon{
    margin-right: 8px;
}

/* Requirements  */
.Requirements-List{
    list-style-type:square;
    display: block

}
.requirements-item{
    font-size: 1.2em;
}
.Requirements-div{
    display: flex;
    justify-content: start;
}


/* General h2  */

h2{
    font-size: 2.2rem;
    font-weight: 700;
}


.include-list{
    list-style: square;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.include-list li{
    font-size: medium;
}