.Course_Details_Header{
    height: 300px;
    background: #1C1D1F;
    display: flex;
    align-items: flex-start;
    width: 100%;
    /* height: auto; */
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
}
.course-header,.course-headline{
    color: white;
}
.course-details-span{
    display: flex;
    align-items: flex-end;

}
.students{
    color: white;
}
.reviews{
    color: blueviolet;
    text-decoration: underline;
}
.objective{
    font-size: 13px;
    justify-content: start;
}

.card.drop-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 1rem;
    width: 500px;
}
.drop-down-element{
    font-weight: bold;
}
.drop-down-count{
    justify-content: flex-end;
}
.course-details{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.card{
    border-radius: 0px;
}