.container {
    margin-left: 22rem;
    width: 45rem;
}

.profile {
    display: flex;
}

ul {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.image {
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
    float: left;
}

#more {
    display: none;
}
#more1 {
    display: none;
}

button {
    border-style: none;
    background-color: #fff;
    font-size: medium;
    font-weight: bold;
    color: #5624d0;
}
.letters {
    height: 40px;
    width: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: black;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.col{
    color: #eac405;
}
.grey{
    color: gray;
}
.col1{
    color: black;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}
/*.con{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}*/