
.btn.btn-primary{
    background-color:#a435f0;
    width: 95%;
  }
  .btn.btn-light{
    border-style: solid;
    border-color: #000;
    width: 95%;
  }
  .btn{
    margin: 5px;
    border-radius: 0;
    height: 40px;
  }
  .popup-course{
    position: fixed;
    width: 300px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    top: 90px;
    right: 10px;
    flex-direction: column;
  }
  .pop-course-img{
    max-width: 100%;
  }