
.btn.btn-primary{
    background-color: purple;
    width: fit-content;
  }
  .btn.btn-light{
    border-style: solid;
    border-color: #000;
    width: fit-content;
  }
  .popup-course{
    display: flex;
    flex-direction: column;
  }
